/wordpress/wp-content/ai1wm-backups
/wordpress/wp-content/uploads
/wordpress/wp-content/upgrade-temp-backup
/wordpress/wp-content/themes/madara
/wordpress/wp-content/themes/twentytwentyfour
/wordpress/wp-content/themes/twentytwentythree
/wordpress/wp-content/themes/twentytwentytwo
/wordpress/wp-content/plugins
/wordpress/wp-content/maintenance
/wordpress/wp-content/languages
/wordpress/wp-content/cache